doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Simple Calc
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Simple Calc
    input#num1(type='text')
    button#add Add
    input#num2(type='text')
    span =
    span#sum
    br
    input#num3(type='text')
    button#subtract Subtract
    input#num4(type='text')
    span =
    span#difference
    br
    input#num5(type='text')
    button#multiply Multiply
    input#num6(type='text')
    span =
    span#multiplyer
    br
    input#num7(type='text')
    button#divide Divide
    input#num8(type='text')
    span =
    span#divisor
    br
    input#num9(type='text')
    button#exponent Exponent
    input#num10(type='text')
    span =
    span#power
    br
    input#num11(type='')
    button#square Square Root
    span =
    span#root
    br
    input#num12(type='')
    button#fact Factorialize
    span =
    span#factor

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
